<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'admin_dashboard/styles.css' %}"> {% endcomment %}

</head>
<body>
    <header>
        <h1>Welcome to My Website</h1>
    </header>
    <main>
        {% block content %}

        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
        {% endif %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 My Website</p>
    </footer>
</body>
</html>